@import "tailwindcss";

*{
    margin: 0;
    padding: 0;

}
body{
    height: 100%;
    width: 100%;
}
#root{
    height: 100%;
    width: 100%;
}

.home{
    background: linear-gradient(155deg, #1b924d, transparent);
    
}

.loginpg{
    background: linear-gradient(155deg, #1b924d, transparent);
    
}